# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/node_modules

# production
/build
/server/dist/

npm-debug.log*

.idea

/tilbakemeldinger.iml
/pb-kontakt-oss.iml
/.env
/server/src/_ssr-dist