# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/dist/

npm-debug.log*

# vite
*.timestamp-*.mjs

# typescript
*.tsbuildinfo

.idea

/tilbakemeldinger.iml
/pb-kontakt-oss.iml
/.env

package-lock.json