
.chat-med-oss {
  &__header {
    text-align: center;
    margin-top: 1rem;
  }

  &__panel {
    padding: 1rem 1.62rem;
    margin-top: 2rem;
  }

  &__panel-ingress {
    white-space: pre-line;
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__panel-start-knapp {
    text-align: center;
    margin-top: 2rem;
  }

  &__panel-chat-container {
    display: flex;
  }
}
