.lenkePanel {
    &__icon {
        width: 100%;
    }
    &__icon-container {
        @media @minMobile {
            padding: 0.5rem 2rem 0 0;
            min-width: 7rem;
        }
        @media @maxMobile {
            min-width: 5.5rem;
            padding: 0.5rem 1.5rem 0 0;
        }
    }
    &__row {
        display: flex;
    }
}
