.login-modal {
  padding: 1rem 1.5rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__info {
    margin-bottom: 1rem;
  }

  &__buttons {
    display: flex;

    & > :not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
