.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--a-bg-subtle);
}

.decorator-utils-container {
    background-color: var(--a-bg-subtle);
}

.pagecontent {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    width: 100%;
    max-width: 800px;
    padding: 1rem 1rem 4rem 1rem;
    box-sizing: border-box;
}

.skjema {
    &__input--medium {
        max-width: 100%;

        @media @maxTablet {
            width: 22rem;
        }
    }

    &__input--small {
        width: 12rem;
    }
}
