.tilbakemeldingerApp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--a-bg-subtle);
}

.decorator-utils-container {
    background-color: var(--a-bg-subtle);
}
