.tilbakemeldingerApp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--ax-bg-neutral-soft);
}

.decorator-utils-container {
    background-color: var(--ax-bg-neutral-soft);
}
